<section class="container p-2 mx-auto">
  <div class="my-10 text-center add-service">
    <button
      class="bg-[var(--project-secondary-color)] text-white p-3 rounded-md hover:bg-[var(--project-text-color)] transition-all"
      [routerLink]="['/dashboard/ui-elements/services/new-service']"
      (click)="onAdding()"
    >
      <i class="mr-2 text-lg fa-solid fa-plus"></i>
      Add New Service
    </button>
  </div>
  <div class="shadow-2xl services-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <ng-container matColumnDef="title" class="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <ng-container matColumnDef="summary">
        <th mat-header-cell *matHeaderCellDef>summary</th>
        <td mat-cell *matCellDef="let element" class="summary-cell">
          {{ element.summary }}
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element">
          <div>
            <button
              class="px-4 py-2 mr-3 font-bold text-white bg-yellow-400 rounded-lg shadow-md transition-all duration-300 hover:bg-yellow-500"
              (click)="onEdit()"
              [queryParams]="{ id: getElementById(element) }"
              routerLink="/dashboard/ui-elements/services/new-service"
            >
              Edit
            </button>
            <button
              class="px-4 py-2 font-bold text-white bg-red-400 rounded-lg shadow-md transition-all duration-300 hover:bg-red-500"
              (click)="deleteService(element)"
            >
              Delete
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
