<footer
  class="flex justify-between items-end p-3 mt-5 shadow-md max-md:items-center bg-neutral-600 z-99"
>
  <div
    class="flex flex-col justify-center items-center cursor-pointer logo-footer"
  >
    <div class="min-w-0 text-center">
      <div class="flex gap-2 items-center">
        <img src="assets/logo-removebg-preview.png" alt="logo" class="w-10" />
        <h1
          class="text-2xl font-bold tracking-wide leading-tight break-words text-[#085993]"
        >
          Trust
        </h1>
      </div>
      <p
        class="mt-1 text-xs font-medium tracking-wide text-gray-300 break-words"
      >
        for Healthcare and Ambulance Services
      </p>
    </div>
  </div>
  <p class="mr-5 text-white">
    &copy;2024 <span class="text-[#085993]">Trust</span>,Inc.
  </p>
</footer>
