<section>
  <app-services-sh></app-services-sh>
</section>
<section>
  <app-section-heading [section]="'SERVICES.SPECIALTY.TITLE' | translate"
    ></app-section-heading
  >
  <div class="m-auto max-w-[1000px] container">
    <div class="flex justify-between items-center max-md:block">
      <div class="container m-auto max-md:mb-3">
        <p class="leading-6">
          <span class="text-[#085993] text-xl mr-2">&RightTriangle;</span
          >{{ "SERVICES.SPECIALTY.INTENSIVE_CARE.TITLE" | translate }}
          <span class="block ml-10 font-light">
            <span class="text-[#1b9ed2] text-xl mr-2">&rightarrow;</span
            >{{
              "SERVICES.SPECIALTY.INTENSIVE_CARE.BRAIN_NERVES" | translate
            }}</span
          >
          <span class="block ml-10 font-light">
            <span class="text-[#1b9ed2] text-xl mr-2">&rightarrow;</span
            >{{
              "SERVICES.SPECIALTY.INTENSIVE_CARE.LIVER_DIGESTIVE" | translate
            }}</span
          >
          <span class="block ml-10 font-light">
            <span class="text-[#1b9ed2] text-xl mr-2">&rightarrow;</span
            >{{
              "SERVICES.SPECIALTY.INTENSIVE_CARE.HEART_CHEST" | translate
            }}</span
          >
          <span class="block ml-10 font-light">
            <span class="text-[#1b9ed2] text-xl mr-2">&rightarrow;</span
            >{{
              "SERVICES.SPECIALTY.INTENSIVE_CARE.GERIATRIC" | translate
            }}</span
          >
          <span class="block ml-10 font-light">
            <span class="text-[#1b9ed2] text-xl mr-2">&rightarrow;</span
            >{{
              "SERVICES.SPECIALTY.INTENSIVE_CARE.DIABETIC_COMA" | translate
            }}</span
          >
        </p>
      </div>
      <div>
        <p class="mb-3">
          <span class="text-[#085993] text-xl mr-2">&RightTriangle;</span
          >{{ "SERVICES.SPECIALTY.OPERATING_ROOMS" | translate }}
        </p>
        <p class="mb-3">
          <span class="text-[#085993] text-xl mr-2">&RightTriangle;</span
          >{{ "SERVICES.SPECIALTY.POST_OPERATIVE" | translate }}
        </p>
        <p>
          <span class="text-[#085993] text-xl mr-2">&RightTriangle;</span
          >{{ "SERVICES.SPECIALTY.AMBULANCE" | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <app-why-us></app-why-us>
</section>
<section>
  <app-achievement></app-achievement>
</section>
<section>
  <app-blog></app-blog>
</section>
